.box {
    margin: 1rem;
    background-color: #cdc8bc;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: 2rem;
    min-height: 20rem;
    border-radius: 5px;
    padding: 1rem;
    line-height: 2;
    font-size: 1.5rem;
}
