.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 5rem);
    padding: 2rem;
}

.description {
    margin-top: 2rem;
    border-radius: 5px;
    padding: 2.5rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.19);
    background-color: white;
}

.description h1 {
    line-height: 2;
    font-size: 1.75rem;
}

@media only screen and (max-width: 600px) {
    .center {
        padding: 0;
    }
    .description {
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        padding: 2rem;
    }
    .description h1 {
        font-size: 1.1rem;
    }
}
